*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body{
        background-color: rgb(9, 56, 100);
    }
    
    .wrap{
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
    }
    
    .material-symbols-outlined{
        width: 400px;
        height: 200px;
        font-size: 15rem;
    
    }
    .lg-text{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .sm-text{
        font-size: 1rem;
    }
    #dynamic{
        position: relative;
        display: inline-block;
        /* 커서 딱 붙음 방지 */
        padding-right: 10px; 
    }
    #dynamic::after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 4px;
        height: 100%;
        background-color: white;
    }
    #dynamic.active::after{
        display: none;
    }